<!DOCTYPE html>
<html>

<head>
    <title>
        <%=blocks.title%>
    </title>

<script src="/js/jquery.js"></script>

</head>

<body>
    <header>
        <%-partial('../partials/topNavigation')%>
    </header>
    <section class="container">

        <%-body -%>
    </section>
</body>

</html>